.form {
    background-image: url("../images/background4.jpg");
    text-align: center;  

  }
  .buttons{
    text-align:center;
    font:white;
    background-color: tomato;
  }
  .font-color{
    color: white;
  }
  .textfield{
     background: transparent; 
    border-color: yellow;
  }
  .button-color{
    background-color: black;
  }
  .image {
    width: 128;
    height: 128;
  }
  .img {
    margin: "auto";
    display: "block";
    maxwidth: "100%";
    maxheight: "100%";
  }
  
