.form {
  background-color: #d9ffb3;
}
.button-button {
  background-color: #99e6ff;
}
.submit-button {
  background-color: #ff99bb;
}
.reg-button {
  background-color: #ffff1a;
}
.image {
  width: 128;
  height: 128;
}
.img {
  margin: "auto";
  display: "block";
  maxwidth: "100%";
  maxheight: "100%";
}
